---
import Featured from '../components/Featured.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Footer from '../components/Footer.astro';
import GetInTouch from '../components/GetInTouch.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import RecentWork from '../components/RecentWork.astro';

const title = 'I am Rafael Uribe';
---

<Layout {title}>
	<Header />

	<div id="main">
		<Featured />
		<Experience />
		<Education />
		<RecentWork />
		<GetInTouch />
	</div>

	<Footer />
</Layout>
