---
import { Image } from 'astro:assets';
import ciandtLogo from '../assets/experience/ciandt_logo.jpeg';
import epamLogo from '../assets/experience/epam_systems_logo.jpeg';
import teleperformanceLogo from '../assets/experience/teleperformance_logo.jpeg';
import sycLogo from '../assets/experience/sistemasycomputadores_logo.jpeg';
---

<section id="experience">
	<h2>Experience 🚀</h2>
	<div class="experience-container">
		<div class="experience-item">
			<Image class="experience-logo" src={ciandtLogo} alt="CI&T Logo" />
			<div class="experience-content">
				<div class="experience-header">
					<h3>Software Engineer III</h3>
					<p class="experience-date">2 years</p>
				</div>
				<p class="experience-company">CI&T - Coca Cola <span class="experience-location">Remote</span></p>
				<ul class="experience-bullets">
					<li>
						Implemented Azure Functions for managing business logic in a D2C E-commerce platform, ensuring seamless communication
						and efficient data flow.
					</li>
					<li>
						Refactored legacy code from an outdated React application to a modern one, using Vite and React for optimal performance
						and security.
					</li>
					<li>Implemented performance improvements for an E-Commerce, Tailwind Zustand.</li>
				</ul>
			</div>
		</div>

		<div class="experience-item">
			<Image class="experience-logo" src={epamLogo} alt="EPAM Systems Logo" />
			<div class="experience-content">
				<div class="experience-header">
					<h3>Software Engineer II</h3>
					<p class="experience-date">1 year</p>
				</div>
				<p class="experience-company">EPAM - McKesson <span class="experience-location">Remote</span></p>
				<ul class="experience-bullets">
					<li>Migrated an E-commerce platform to React, significantly improving app performance and maintainability.</li>
					<li>
						Implemented an observability tool for logging, error management, and performance monitoring, enhancing the reliability
						of the application and user experience.
					</li>
					<li>
						Developed features for a B2B E-Commerce API, modifying the service-based architecture using Node and Type- Script with
						test-driven development.
					</li>
				</ul>
			</div>
		</div>

		<div class="experience-item">
			<Image class="experience-logo" src={teleperformanceLogo} alt="Teleperformance Logo" />
			<div class="experience-content">
				<div class="experience-header">
					<h3>Software Engineer II</h3>
					<p class="experience-date">6 months</p>
				</div>
				<p class="experience-company">Teleperformance <span class="experience-location">Remote</span></p>
				<ul class="experience-bullets">
					<li>
						Developed eBook, a tool that significantly boosted the productivity and efficiency of call center assistants, using
						Next.js and Azure Functions.
					</li>
					<li>
						Implemented robust authentication mechanisms with Azure, OAuth, and, JWT. With multifactor authentication (2FA) to
						enhance security and protect user data.
					</li>
					<li>
						Added a video call feature to the Azure Communication Services application, ensuring smooth and reliable functionality.
					</li>
				</ul>
			</div>
		</div>

		<div class="experience-item">
			<Image class="experience-logo" src={sycLogo} alt="SYC Logo" />
			<div class="experience-content">
				<div class="experience-header">
					<h3>Software Engineer I</h3>
					<p class="experience-date">2 years</p>
				</div>
				<p class="experience-company">SYC <span class="experience-location">Remote</span></p>
				<ul class="experience-bullets">
					<li>
						Lead developer of EDESK, a project template designed to streamline internal development processes, using Node.js,
						Express, and React.
					</li>
					<li>Managed repositories, releases, and deployments for Nest API, utilizing Azure DevOps and Azure Repos.</li>
					<li>Implemented a user interface for EDESK using React and Redux, improving user experience and maintainability.</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<style>
	.experience-container {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.experience-item {
		margin-bottom: 0.25rem;
		display: flex;
		gap: 0.75rem;
		position: relative;
	}

	.experience-logo {
		width: 60px;
		height: 60px;
		min-width: 60px;
		background-color: #f5f5f5;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 2;
		overflow: hidden;
	}

	.experience-logo::after {
		content: '';
		position: absolute;
		top: 60px;
		bottom: -100%;
		left: 50%;
		width: 2px;
		background-color: #e0e0e0;
		transform: translateX(-50%);
		z-index: 1;
	}

	.experience-item:last-child .experience-logo::after {
		display: none;
	}

	.logo-image {
		max-width: 80%;
		max-height: 80%;
		object-fit: contain;
		border-radius: 0;
	}

	.experience-content {
		flex: 1;
	}

	.experience-header {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	.experience-header h3 {
		margin: 0;
		font-size: 1.3rem;
		font-weight: 600;
	}

	.experience-date {
		font-size: 0.9rem;
		color: #888;
		margin: 0;
	}

	.experience-company {
		font-weight: 500;
		font-size: 1rem;
	}

	.experience-location {
		font-style: italic;
		color: #888;
	}

	.experience-bullets {
		margin-top: 0.25rem;
		padding-left: 1.25rem;
	}

	.experience-bullets li {
		margin-bottom: 0.25rem;
	}

	@media screen and (max-width: 736px) {
		.experience-header {
			flex-direction: column;
			align-items: flex-start;
		}

		.experience-item {
			flex-direction: column;
			gap: 0.75rem;
		}

		.experience-logo {
			width: 50px;
			height: 50px;
			min-width: 50px;
		}

		.experience-logo::after {
			display: none;
		}
	}
</style>
