<!-- One -->
<section id="one">
	<header class="major">
		<h2>About me</h2>
	</header>
	<p>
		I'm a Software Engineer with experience building scalable and efficient web applications, especially in the E-commerce space. Over the
		years, I've worked with companies like Coca-Cola, McKesson, and Teleperformance, where I’ve led migrations to modern frameworks,
		implemented observability and security tools, and optimized cloud-native solutions. I'm passionate about clean architecture,
		performance, and continuously improving user experience. My tech stack includes JavaScript/TypeScript, React, FastAPI, SQL, and cloud
		platforms like Azure and AWS. I enjoy solving complex problems and shipping high-impact features.
	</p>
</section>
