---
import { Image } from 'astro:assets';

import th_1 from '../assets/thumbs/01.jpg';
import th_2 from '../assets/thumbs/02.jpg';
import th_3 from '../assets/thumbs/03.jpg';
import th_4 from '../assets/thumbs/04.jpg';
import th_5 from '../assets/thumbs/05.jpg';
import th_6 from '../assets/thumbs/06.jpg';
---

<!-- Two -->
<section id="two">
	<h2>Recent Work</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href="https://www.dilagoingenieriasas.com/" class="image fit thumb" target="_blank" rel="noopener noreferrer"
				><Image src={th_1} alt="Web Dilago Ingenieria S.A.S" /></a
			>
			<h3>Dilago Ingenieria S.A.S</h3>
			<p>Dilago Ingeniería is a company offering specialized technical services and supplies for the oil and gas energy sector.</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href="https://autosviplatam.com/" class="image fit thumb" target="_blank" rel="noopener noreferrer"
				><Image src={th_2} alt="Web Autos Vi Platam" /></a
			>
			<h3>Autos Vip latam S.A.S</h3>
			<p>Autos VIP is a company dedicated to the sale of premium, high-end pre-owned vehicles.</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href="https://guconsulting.dev/" class="image fit thumb" target="_blank" rel="noopener noreferrer"><Image src={th_3} alt="" /></a
			>
			<h3>GU Consulting S.A.S</h3>
			<p>GU Consulting is a company dedicated to building innovative software solutions for a smarter future.</p>
		</article>
	</div>
	<!-- <ul class="actions">
		<li><a href="#" class="button" target="_blank" rel="noopener noreferrer">Full Portfolio</a></li>
	</ul> -->
</section>
